

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-items: center;


    .container {
        position: relative;
        margin: 10% auto;
        margin-top: 3%;
        align-items: center;
        width: 100vw;

        .header {
            border: 1px solid #2566d4;
            padding: 30px;
            margin: 30px;
            border-radius: 30px;
            width: 100px;
            display: grid;
            grid-row-gap: 20px;

            .sort {

                select {
                    padding: 10px 10px;
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    background-color: blue;
                    font-size: 16px;
                    margin-right: 5%;
                }
            }
            .search input {
                padding: 10px 10px;
                font-size: 16px;
                line-height: 1.5m;
                color:blue;
                width: 80%;
            }
            .cart-btn {
                padding: 10px 15px;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                background-color: blue;
                cursor: pointer;
                width: max-content;
                justify-self: end;
                font-size: 16px;
                line-height: 1.5em;
            }
            .cart-btn:focus {
                transform: scale(0.9);
            }

            hr {
                grid-column: 1/4;
                width: 100%;
                margin: 2% 0;
            }
        }


        .section1 {
            border: 1px solid #2566d4;
            padding: 30px;
            margin: 30px;
            border-radius: 30px;
            width: 250px;
            display: grid;
            grid-row-gap: 20px;
            
            .list {
                padding: 40px 30px;
                background-color: rgba(163, 159, 159, .2);
                border-radius: 20px;
                width: auto;
            }
                

            
            .btn {
                bottom: 7%;
                border: none;
                outline: none;
                cursor: pointer;
                width: 100%;
                margin: auto;
                padding: 10px 20px;
                background-color: rgba(32, 114, 221, .9);
                color: white;
                border-radius: 10px;

            }
            .btn:hover {
                transform: scale(.9);
            }

            .image {
                width: 270px;
                height: 200px;
                border-radius: 20px;
            }

        }
    }
}